body{
    background: rgb(151, 183, 132);
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    font-size: 30px;

}
input{
    
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid black;
    margin-bottom:6px;
   
}

button {
    background: rgb(247, 79, 79);
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    font-size:12px;
}

